@font-face {
    font-family: 'PixelFont';
    src: url('/assets/fonts/PressStart2P-Regular.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: black;
    font-family: 'PixelFont';
}